<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/custom-dashboard.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.min.js"></script>
		<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

  
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="/home" class="logo">
					<img src="/assets/img/logo.png" width="35" height="35" alt=""> <span>Preclinic</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge badge-pill bg-danger float-right">3</span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">
												<img alt="John Doe" src="/assets/img/user.jpg" class="img-fluid">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
												<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
												<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">L</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">G</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
												<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
												<p class="noti-time"><span class="notification-time">2 days ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class="fa fa-comment-o"></i> <span class="badge badge-pill bg-danger float-right">8</span></a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="/assets/img/user.jpg" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						<span>Admin</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/home/profile">My Profile</a>
						<a class="dropdown-item" href="/home/edit-profile">Edit Profile</a>
						
						<a class="dropdown-item" href="/logout">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/home/profile">My Profile</a>
                    <a class="dropdown-item" href="/home/edit-profile">Edit Profile</a>
                    
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="/home"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						<li>
                            <a href="/doctors"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
                        </li>
                        <li>
                            <a href="/patients"><i class="fa fa-wheelchair"></i> <span>Patients</span></a>
                        </li>
                        <li>
                            <a href="/appointment"><i class="fa fa-calendar"></i> <span>Appointments</span></a>
                        </li>
                       
                        <li>
                            <a href="/home/departments"><i class="fa fa-hospital-o"></i> <span>Departments</span></a>
                        </li>
						<li class="submenu">
							<a href="#"><i class="fa fa-user"></i> <span> Employees </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="/employee">Employees List</a></li>
								<li><a href="/employee/leave">Leaves</a></li>
								
							</ul>
						</li>
						
						<li class="submenu">
							<a href="#"><i class="fa fa-book"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="/receipt"> Employee Salary </a></li>
								
							</ul>
						</li>
                       
                        
                        <li class="submenu">
                            <a href="#"><i class="fa fa-envelope"></i> <span> Email</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/compose">Compose Mail</a></li>
                                <li><a href="/inbox">Inbox</a></li>
                                
                            </ul>
                        </li>
                       
						<li>
							<a href="/store"><i class="fa fa-cube"></i> <span>Medicine Store</span></a>
						</li>
						
					
                       
                        
                       
                        
                      
                     
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <!-- Dashboard Header with Date Filter -->
                <div class="row mb-4">
                    <div class="col-md-6">
                        <h4 class="page-title">Dashboard</h4>
                        <div class="text-muted mt-1">Hospital overview and statistics</div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="btn-group">
                            <button id="refresh-dashboard" class="btn btn-white mr-2" data-toggle="tooltip" title="Refresh Data">
                                <i class="fa fa-refresh"></i>
                            </button>
                            <div id="dashboard-date-range" class="btn btn-white">
                                <i class="fa fa-calendar mr-2"></i>
                                <span></span>
                                <i class="fa fa-caret-down ml-2"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Loading Overlay -->
                <div id="dashboard-loading" class="dashboard-loading d-none">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <!-- Success Message -->
                <div id="refresh-success" class="alert alert-success fade show d-none" role="alert">
                    Dashboard data refreshed successfully.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Quick Action Cards -->
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Quick Actions</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <a href="/appointment/add_appointment" class="quick-action" data-action="new-appointment">
                                            <div class="quick-action-card bg-info-light">
                                                <i class="fa fa-calendar-plus-o text-info"></i>
                                                <span>New Appointment</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <a href="#" class="quick-action" data-action="new-patient">
                                            <div class="quick-action-card bg-success-light">
                                                <i class="fa fa-user-plus text-success"></i>
                                                <span>New Patient</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <a href="/compose" class="quick-action" data-action="send-message">
                                            <div class="quick-action-card bg-warning-light">
                                                <i class="fa fa-envelope-o text-warning"></i>
                                                <span>Send Message</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <a href="#" class="quick-action" data-action="generate-report">
                                            <div class="quick-action-card bg-danger-light">
                                                <i class="fa fa-file-pdf-o text-danger"></i>
                                                <span>Generate Report</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Key Performance Indicators -->
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-card">
                            <div class="dash-card-header">
                                <h5>Doctors</h5>
                                <div class="dash-card-tools">
                                    <a href="#" class="expand-card"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                            <div class="dash-card-body">
                                <div class="dash-card-icon dash-card-icon-primary">
                                    <i class="fa fa-user-md"></i>
                                </div>
                                <div class="dash-card-content">
                                    <h2 id="doctors-count"><%= doc %></h2>
                                    <div class="dash-card-trend">
                                        <span>Total Doctors</span>
                                        <span id="doctors-trend" class="ml-2"><i class="fa fa-minus text-muted"></i> 0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dash-card-footer">
                                <a href="/doctors">View all doctors</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-card">
                            <div class="dash-card-header">
                                <h5>Appointments</h5>
                                <div class="dash-card-tools">
                                    <a href="#" class="expand-card"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                            <div class="dash-card-body">
                                <div class="dash-card-icon dash-card-icon-info">
                                    <i class="fa fa-calendar-check-o"></i>
                                </div>
                                <div class="dash-card-content">
                                    <h2 id="appointments-count"><%=appointment%></h2>
                                    <div class="dash-card-trend">
                                        <span>Total Appointments</span>
                                        <span id="appointments-trend" class="ml-2"><i class="fa fa-minus text-muted"></i> 0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dash-card-footer">
                                <a href="/appointment">View all appointments</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-card">
                            <div class="dash-card-header">
                                <h5>Patients</h5>
                                <div class="dash-card-tools">
                                    <a href="#" class="expand-card"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                            <div class="dash-card-body">
                                <div class="dash-card-icon dash-card-icon-success">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="dash-card-content">
                                    <h2 id="patients-count">72</h2>
                                    <div class="dash-card-trend">
                                        <span>Active Patients</span>
                                        <span id="patients-trend" class="ml-2"><i class="fa fa-arrow-up text-success"></i> 5</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dash-card-footer">
                                <a href="/patients">View all patients</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-card">
                            <div class="dash-card-header">
                                <h5>Revenue</h5>
                                <div class="dash-card-tools">
                                    <a href="#" class="expand-card"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                            <div class="dash-card-body">
                                <div class="dash-card-icon dash-card-icon-warning">
                                    <i class="fa fa-money"></i>
                                </div>
                                <div class="dash-card-content">
                                    <h2 id="revenue-count">$24,500</h2>
                                    <div class="dash-card-trend">
                                        <span>Monthly Revenue</span>
                                        <span id="revenue-trend" class="ml-2"><i class="fa fa-arrow-up text-success"></i> $2,100</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dash-card-footer">
                                <a href="#" data-toggle="modal" data-target="#revenue-details-modal">View details</a>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-6 col-xl-8">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title">Patient Statistics</h5>
								<div class="card-tools">
                                    <button type="button" class="btn btn-tool toggle-stats" data-target="#patient-stats-detail">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </div>
							</div>
							<div class="card-body">
                                <div id="patient-stats-detail" class="mb-3" style="display: none;">
                                    <div class="row text-center">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="detail-stat">
                                                <div class="detail-stat-number text-primary">245</div>
                                                <div class="detail-stat-label">New Patients</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="detail-stat">
                                                <div class="detail-stat-number text-success">182</div>
                                                <div class="detail-stat-label">Recovered</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="detail-stat">
                                                <div class="detail-stat-number text-info">68</div>
                                                <div class="detail-stat-label">In Treatment</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="detail-stat">
                                                <div class="detail-stat-number text-warning">12</div>
                                                <div class="detail-stat-label">Critical</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<div class="chart-container" style="height: 300px;">
                                    <canvas id="patient-statistics-chart"></canvas>
                                </div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-6 col-xl-4">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title">Appointment Status</h5>
							</div>
							<div class="card-body">
								<div class="chart-container" style="height: 300px;">
                                    <canvas id="appointment-status-chart"></canvas>
                                </div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-7 col-xl-7">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title d-inline-block">Upcoming Appointments number <%= appointment%></h4> <a href="/appointment" class="btn btn-primary float-right">View all</a>
							</div>
							<div class="card-body p-0">
								<div class="table-responsive">
									<table class="table mb-0">
										<thead class="d-none">
											<tr>
												<th>Patient Name</th>
												<th>Doctor Name</th>
												<th>Timing</th>
												
											</tr>
										</thead>
										<tbody>
                                            <% for (var i = 0; i < applist.length; i++){ %>
											<tr>
												<td style="min-width: 200px;">
													<h5 class="time-title p-0">Patient Name</h5>
													<p><%= applist[i].patient_name%></p>
												</td>                 
												<td>
													<h5 class="time-title p-0">Appointment With</h5>
													<p><%= applist[i].doctor_name%></p>
												</td>
												<td>
													<h5 class="time-title p-0">Timing</h5>
													<p><%= applist[i].time%></p>
												</td>
												<td class="text-right">
													<a href="/appointment" class="btn btn-primary btn-sm take-btn">Take up</a>
                                                </td>
                                                <% } %>
											</tr>
											
											
											
										
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
                    <div class="col-12 col-md-6 col-lg-5 col-xl-5">
                        <div class="card member-panel">
							<div class="card-header bg-white">
								<h4 class="card-title mb-0">Doctors</h4>
							</div>
                            <div class="card-body">
                                <ul class="contact-list">
                                    <% for (var i = 0; i < doclist.length; i++){ %>
                                    <li>
                                        <div class="contact-cont">
                                            <div class="float-left user-img m-r-10">
                                                <a href="profile.html" title="John Doe"><img src="/assets/images/upload_images/<%= doclist[i].image %>"" alt="" class="w-40 rounded-circle"><span class="status online"></span></a>
                                            </div>
                                            <div class="contact-info">
                                                <span class="contact-name text-ellipsis"><%= doclist[i].first_name%> <%= doclist[i].last_name%></span>
                                                
                                                <span class="contact-date">MBBS, MD</span>
                                            </div>
                                        </div>
                                    </li>
                                    <% } %>
                                    
                                  
                            
                                  
                                </ul>
                            </div>
                            <div class="card-footer text-center bg-white">
                                <a href="/doctors" class="text-muted">View all Doctors</a>
                            </div>
                        </div>
                    </div>
				</div>
                
                <!-- Second Row of Charts -->
                <div class="row">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Department Performance</h5>
                            </div>
                            <div class="card-body">
                                <div class="chart-container" style="height: 350px;">
                                    <canvas id="department-performance-chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Bed Occupancy</h5>
                            </div>
                            <div class="card-body">
                                <div class="chart-container" style="height: 350px;">
                                    <canvas id="bed-occupancy-chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Financial Overview -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Financial Overview</h5>
                            </div>
                            <div class="card-body">
                                <div class="chart-container" style="height: 300px;">
                                    <canvas id="revenue-chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
            <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>Messages</span>
                    </div>
                    <div class="drop-scroll msg-list-scroll" id="msg_list">
                        <ul class="list-box">
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Richard Miles </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item new-message">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">John Doe</span>
                                            <span class="message-time">1 Aug</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">T</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Tarah Shropshire </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">M</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Mike Litorus</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Catherine Manseau </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">D</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Domenic Houston </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">B</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Buster Wigton </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Rolland Webber </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Claire Mapes </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">M</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Melita Faucher</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Jeffery Lalor</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">L</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Loren Gatlin</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">T</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Tarah Shropshire</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="chat.html">See all messages</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/Chart.bundle.js"></script>
    <script src="/assets/js/chart.js"></script>
    <script src="/assets/js/app.js"></script>
    <!-- Moment.js and Date Range Picker -->
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!-- Custom Dashboard JS -->
    <script src="/assets/js/dashboard.js"></script>
            
            <!-- Report Generation Modal -->
            <div class="modal fade" id="report-modal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reportModalLabel">Generate Report</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label>Report Type</label>
                                    <select class="form-control">
                                        <option>Patient Summary</option>
                                        <option>Revenue Report</option>
                                        <option>Appointment Statistics</option>
                                        <option>Department Performance</option>
                                        <option>Inventory Status</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Date Range</label>
                                    <input type="text" class="form-control" id="report-date-range">
                                </div>
                                <div class="form-group">
                                    <label>Format</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="reportFormat" id="formatPDF" value="pdf" checked>
                                        <label class="form-check-label" for="formatPDF">
                                            PDF
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="reportFormat" id="formatExcel" value="excel">
                                        <label class="form-check-label" for="formatExcel">
                                            Excel
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Generate</button>
                        </div>
                    </div>
                </div>
            </div>
</body>



</html>